body {
    background-color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;


}
.fonts {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.no-display {
    display: none;
}

.center { 
    margin-top: 20%;
    margin-bottom: 20%;
}

.title {
    margin-top: 1em;
    color: #262626;
}

.content {
    margin-top: 5em;
}

.analyze {
    margin-top: 2em;
}

.upload-label {
    height: 50px;
    border-radius: 80px;
    background-color: #ffffff;
    border: solid 1px #79A889;
    color: #79A889;
}

button.choose-file-button {
    width:  40px;
    height: 40px;
    border-radius: 80px;
    background-color: #ffffff;
    border: solid 1px #79A889;
    color: #79A889;
}

button.choose-file-button:hover {
    background-color: #54755F;
    border: #54755F;
    color: #FFFFFF;
}

button.choose-file-button:active {
    background-color: #3E5747;
    border: solid 1px #3E5747;
    color: white;
}

@media (min-width: 767px) {
    button.choose-file-button-md {
        display: none;
    }
    button.analyze-button {
        width: 200px;
        height: 60px;
        border: solid 1px #79A889;
        border-radius: 40px;
        background-color: #79A889;
        color: #ffffff;
    }
    
    button.analyze-button:hover {
        background-color: #3E5747;
        border: #3E5747;
        color: #FFFFFF;
    }
    
}


@media (max-width: 767px) {
    .upload-label {
        margin-left: 20px;
        margin-right: 20px;
        height: 35px;
        border-radius: 80px;
        background-color: #ffffff;
        border: solid 1px #79A889;
        color: #79A889;
    }
    button.choose-file-button {
        display: none;
    }
    button.choose-file-button-md {
        width:  40px;
        height: 40px;
        border-radius: 80px;
        background-color: #ffffff;
        border: solid 1px #79A889;
        color: #79A889;
    }
    
    button.choose-file-button-md:hover {
        background-color: #54755F;
        border: #54755F;
        color: #FFFFFF;
    }
    
    button.choose-file-button-md:active {
        background-color: #3E5747;
        border: solid 1px #3E5747;
        color: white;
    }

    button.analyze-button {
        width: 150px;
        height: 40px;
        margin-left: 10px;
        border: solid 1px #79A889;
        border-radius: 40px;
        background-color: #79A889;
        color: #ffffff;
    }
    
    button.analyze-button:hover {
        background-color: #3E5747;
        border: #3E5747;
        color: #FFFFFF;
    }
}


.result-label {
    margin-top: 0.5em;
    padding: 10px;
}

.result-label-text {
    color: #54755F;
    font-family: 'Noto Serif TC', serif;
    font-weight: 500;
}

button:focus {
    outline: 0;
}